<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
    <ion-buttons slot="primary">
      <ion-button color="light" (click)="dismissModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form method="post" #form="ngForm" (ngSubmit)="register(form)">
    <ion-item>
      <ion-label position="floating">First Name</ion-label>
      <ion-input type="text" ngModel name="fName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Last Name</ion-label>
      <ion-input type="text" ngModel name="lName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" ngModel name="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" ngModel name="password"></ion-input>
    </ion-item>
    <ion-button color="danger" slot="end" expand="block" (click)="register(form)">
      <ion-icon slot="start" name="create"></ion-icon>
      Register
    </ion-button>
  </form>
  <ion-item>
    <ion-label class="ion-text-center">Already have account?</ion-label>
  </ion-item>
  <ion-button color="success" expand="block" (click)="loginModal()">
    <ion-icon slot="start" name="log-in"></ion-icon>
    Sign In
  </ion-button>
</ion-content>
