<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Recipes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="full" *ngFor="let recipe of recipes" detail [routerLink]="['/recipe-detail', recipe.id, recipe.title]">
      <ion-avatar slot="start">
        <img [src]="recipe.image_url" />
      </ion-avatar>
      <ion-label>
        <ion-text color="primary">
          <h3>{{ recipe.title}}</h3>
        </ion-text>
        <p>{{ recipe.description}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
